<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tx.app.mapper.business.ShopUserMapper">
    <sql id="Columns">
        login_name,
        shop_name,
        shop_address,
        created_time,
        updated_time
    </sql>

    <select id="selectShopUser" parameterType="com.tx.app.form.business.ShopUserForm" resultType="com.tx.app.dao.business.ShopUser">
        SELECT <include refid="Columns"/>
        FROM shop_user
        ORDER BY ${sortInfo}
        limit  #{iDisplayStart}, #{iDisplayLength}
    </select>

    <select id="countShopUser" parameterType="com.tx.app.form.business.ShopUserForm" resultType="java.lang.Integer">
      SELECT COUNT(1) FROM shop_user
    </select>
</mapper>
